# Auto detect text files and perform LF normalization
* text=auto

# Source files
*.rs text eol=lf
*.swift text eol=lf
*.cs text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf

# Interface definitions
*.proto text eol=lf

# Docs and config
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.toml text eol=lf

# Binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary

# Linguist: UniFFI bindings are generated
/bindings/ linguist-generated
